.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  padding-bottom: 30px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.datatable {
  margin: 4px;
  width: 70%;
}

h4 {
  display: inline;
}

.modal {
  width: 100%;
  background-color: #ff808f;
  border: 1px solid darkgray;
  border-radius: 4px;
  color: #1c1c1c;
  font-family: 'Times New Roman';
}

.closeBtn {
  float: right;
  background-color: #1c1c1c;
  color: white;
  border: none;
  font-size: 14px;
  min-height: 20px;
}
